[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Tcomp"]
	path = Tcomp
	url = https://github.com/ellisp/tcomp-r-package
	subdir = pkg
[submodule "forecastHybrid"]
	path = forecastHybrid
	url = https://github.com/ellisp/forecasthybrid
	subdir = pkg
[submodule "ggseas"]
	path = ggseas
	url = https://github.com/ellisp/ggseas
	subdir = pkg
[submodule "nzelect"]
	path = nzelect
	url = https://github.com/cran/nzelect
