[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "forecastHybrid"]
	path = forecastHybrid
	url = https://github.com/ellisp/forecasthybrid
	shallow = true
	subdir = pkg
	registered = true
[submodule "ggseas"]
	path = ggseas
	url = https://github.com/ellisp/ggseas
	shallow = true
	subdir = pkg
	registered = true
[submodule "nzelect"]
	path = nzelect
	url = https://github.com/cran/nzelect
	shallow = true
	registered = true
[submodule "Tcomp"]
	path = Tcomp
	url = https://github.com/ellisp/tcomp-r-package
	shallow = true
	subdir = pkg
	registered = true
